html,
body { height: 100%;background-color:#D9C666 ; }
.outer { height: 100%;box-sizing: border-box ; }
.A { 
	height: 140px; 
    font-size: 30px;
	text-align: center;
	background:  url('../img/bg.jpg') center center/cover #BBE8F2;
}
.B { height: auto; background: #eee; padding: 20px;}

.A .title{
	text-align: center;
	padding: 20px;
	font-size: 30px;
	color: #004444;
	display: block;
}
.A .subtitle{
	color: #004444;
	font-size: 26px;
}
.A .subtitle span{
	text-align: center;
	padding: 10px;
	font-size: 26px;
	color: red;
}
    
#aaa{
	
}
#bbb{
	margin-top: 1.25rem;
}
.model{
	/* width: 100%; */
}
.model .label{
	width: 200px;
	margin: auto;
	border-bottom:4px solid #006666 ;
	color: #006666;
	text-align: center;
	font-size: 22px;
	overflow: auto;
	padding: 5px 0;
}
.model .list{
	margin: 10px 10px 20px 10px;
	background-color: white;
	padding: 30px 20px 20px 20px;
	border-radius: 10px;
	position: relative;
	
}
.model .list .more{
	position:absolute ;
	right: 18px;
	top: 10px;
	cursor: pointer;
	padding: 2px 8px;
	border: none;
	border-radius: 10px;
	transition: all 0.4 ;
}
.model .list .more:hover{
	background-color: #eee;
}

/* 基本信息 */
#basic .b-a-ul{
	font-size: 16px;
	padding-right: 30px;
	max-height: 150px;
	overflow: auto;
}
#basic .b-a-li{
	line-height: 32px;
	display: flex;
	justify-content: space-between;
}

/* 列表信息 */
.s-a-ul{
	font-size: 16px;
	padding-right: 30px;
	overflow: auto;
}
.s-a-li{
	line-height: 32px;
}
.maxH{
	max-height: 150px;
}
.s-b-ul{
	margin-left: 20px;
}
.s-b-li{
	position: relative;
	border-bottom: 1px #eee solid;
}
.s-l-ul{
	margin-left: 20px;
}
.s-l-li{
	display: flex;
	justify-content: space-between;
	position: relative;
	border-bottom: 1px #eee solid;
}
.s-b-li:before,.s-l-li:before{
	content: "|_";
	position: absolute;
	top: -7px;
	left: -16px;
	color: #aaa;
}